<!DOCTYPE HTML>
<html>
<head>
    <title>Create user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/bower_components/chart.js/dist/Chart.bundle.js"></script>
    <script src="/js/bower_components/chart.js/samples/utils.js"></script>
    <style>
        canvas {
             -moz-user-select: none;
             -webkit-user-select: none;
             -ms-user-select: none;
        }
    </style>
</head>
<body>
<div id="container" style="width: 30%;">
    <canvas id="MeSeStatusCanvas"></canvas>
</div>
<script src="/js/charts.js">
</script>
</body>
</html>